<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>L&T</title>
    
 
</head>
<body>
    <div class="userinfo" style="margin: 50px; outline: 2px solid black;outline-offset:10px;">
        <h1 style="margin:40px 500px;">USER DASHBOARD</h1>
            
      </div>
      <script src="/js/script.js" >
       
      </script>
</body>